@model WebEscuelaMVC.Models.Aula

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <fieldset>
        <legend>Detalle de Aula</legend>
        <div>
            @Html.DisplayNameFor(m => m.Id)
        </div>
        <div>
            @Html.DisplayFor(m => m.Id)
        </div>
        <div>
            @Html.DisplayNameFor(m => m.Numero)
        </div>
        <div>
            @Html.DisplayFor(m => m.Numero)
        </div>
        <div>
            @Html.DisplayNameFor(m => m.Estado)
        </div>
        <div>
            @Html.DisplayFor(m => m.Estado)
        </div>
    </fieldset>
    <p>@Html.ActionLink("Volver al Index", "Index","Aula")</p>
</body>
</html>
