@model MVCPubs.Models.Stores
@{
    ViewBag.Title = "Delete";
}

<h2>Borrar Turno</h2>

p>Desea eliminar este store?</p>

@using (Html.BeginForm("Delete", "Store", FormMethod.Post))
{
    <div>
        <span>@Html.DisplayNameFor(model => model.StorName)</span>
        <span>@Html.DisplayFor(model => model.StorAddress)</span>
        <span>@Html.DisplayNameFor(model => model.City)</span>
        <span>@Html.DisplayFor(model => model.State)</span>
        <span>@Html.DisplayFor(model => model.Zip)</span>
    </div>
    <input type="submit" value="Delete" />
}

<p>
    @Html.ActionLink("Volver a la lista", "Index", "Store")
</p>